.footer__column-link {
  display: flex;
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  align-items: center;
  transition: opacity .44s ease;
}

.footer__column-link:hover {
  opacity: 0.63;
}
